.shdw {
  box-shadow:
    inset 0 0 0.8px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

:root {
  interpolate-size: allow-keywords;
}

/* Vue Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.groupFade-enter-active,
.groupFade-leave-active {
  transition: all 0.3s;
}

.groupFade-enter,
.groupFade-leave-to {
  opacity: 0;
  scale: 0.9;
}

.groupFade-enter-to,
.groupFade-leave-from {
  opacity: 1;
  scale: 1;
}
